.rest {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px auto;
    width: 50vw;

    h2 {
        color: var(--Black, #232134);
        font: 700 20px Inter;
        line-height: 20px;

        &:hover {
            cursor: pointer;
            transition: all 0.3s;
            color: #5E96FC;

            scale: 0.9;
        }
    }

    .active {
        color: #5E96FC;
        border: 1px solid #5E96FC;
        border-radius: 50px;
        padding: 15px 10px;
    }
}

.wrapperContent {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    h2 {
        color: var(--Black, #232134);
        font: 700 16px Inter;
    }
}