.container {
    display: flex;
    justify-content: space-around;

    h2 {
        color: var(--Black, #232134);
        font: 600 24px Poppins;
        line-height: normal;
        letter-spacing: -0.48px;
    }

    .wrapper {
        margin-top: 3px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}